<!DOCTYPE html>
<html>
<head>
    <title>Canvas Tiles</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link href="https://cdn.bootcss.com/openlayers/4.6.4/ol-debug.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/openlayers/4.6.4/ol-debug.js"></script>


    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .map {
            border-radius: 6px;
            border-width: 1px;
            background-color: black;
        }

        .map .ol-zoom .ol-zoom-out {
            margin-top: 204px;
        }

        .map .ol-zoomslider {
            background-color: transparent;
            top: 2.3em;
        }

        .map .ol-touch .ol-zoom .ol-zoom-out {
            margin-top: 212px;
        }

        .map .ol-touch .ol-zoomslider {
            top: 2.75em;
        }

        .map .ol-zoom-in.ol-has-tooltip:hover [role=tooltip],
        .map .ol-zoom-in.ol-has-tooltip:focus [role=tooltip] {
            top: 3px;
        }

        .map .ol-zoom-out.ol-has-tooltip:hover [role=tooltip],
        .map .ol-zoom-out.ol-has-tooltip:focus [role=tooltip] {
            top: 232px;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="panel panel-default" style="height:90vh;">
        <div class="panel-heading">
            <div class="btn-group" role="group" aria-label="...">
                <!-- draw pen -->
                <a class="btn btn-primary tools" onclick="showControl(this,'#drawControl')">
                    <span class="glyphicon glyphicon-pencil"></span><span>标绘</span></a>
                <!-- change color -->
                <a class="btn btn-primary tools" onclick="showControl(this,'#colorControl')">
                    <span class="glyphicon glyphicon-adjust"></span><span>颜色</span></a>
                <!-- export map -->
                <a class="btn btn-primary tools" onclick="exportMapFn.click()">
                    <span class="glyphicon glyphicon-upload"></span><span>上传当前图像</span></a>
            </div>

            <!-- draw area -->
            <div class="collapse controls" id="drawControl" style="padding-top: 20px">
                <div class="well">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"
                                onclick="basic_area_instance.changeDrawShape('Circle')">
                            <img src="public/image/circle.png" height="16" width="16"/>
                        </button>
                        <button type="button" class="btn btn-default"
                                onclick="basic_area_instance.changeDrawShape('Box')">
                            <img src="public/image/rect.png" height="16" width="16"/>
                        </button>
                        <button type="button" class="btn btn-default"
                                onclick="basic_area_instance.changeDrawShape('Polygon')">
                            <img src="public/image/polygon.png" height="16" width="16"/>
                        </button>
                    </div>
                    <!-- draw color -->
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default"
                                onclick="basic_area_instance.changeDrawColor('Red')">
                            <img src="public/image/r.png" height="16" width="16"/>
                        </button>
                        <button type="button" class="btn btn-default"
                                onclick="basic_area_instance.changeDrawColor('Green')">
                            <img src="public/image/g.png" height="16" width="16"/>
                        </button>
                        <button type="button" class="btn btn-default"
                                onclick="basic_area_instance.changeDrawColor('Blue')">
                            <img src="public/image/b.png" height="16" width="16"/>
                        </button>
                    </div>
                </div>
            </div>
            <!-- color-->
            <div id="colorControl" class="collapse controls" style="padding-top: 20px">

                <div class="row">
                    <label class="col-sm-2 control-label">色度</label>
                    <div class="col-sm-5">
                        <div id="hueCtrl"></div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label">浓度</label>
                    <div class="col-sm-5">
                        <div id="chromaCtrl"></div>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-2 control-label">亮度</label>
                    <div class="col-sm-5">
                        <div id="lightnessCtrl"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="panel-body">
            <div id="map" class="map" style="height: 70vh;"></div>
        </div>
    </div>
    <!-- modal -->
    <div id='exportMapModal' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">截图上传中</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>正在上传快照...，如下图所示</label>
                        <img style="width:40vh;height:40vh;" id="mapImage">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div id='areaInfoModal' class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-group">
                        <label>内容</label>
                        <textarea id="area_content" class="form-control" placeholder="内容"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="basic_area_instance.cancelArea(true)">删除
                    </button>
                    <button type="button" class="btn btn-primary" onclick="basic_area_instance.saveArea()">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="public/js/main.js"></script>
</html>